body {
    background-color: #E1E8EE;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-structor {
    height: 550px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgb(0,0,0, 0.2);
    user-select: none;
}
.signup {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.return i{
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    font-size: 35px;
    text-shadow: 0px 0px 15px #000000;
    opacity: 0.65;
}
.return i:hover{
    color: white;
    text-shadow: 0px 0px 15px #c0c0c0;
    opacity: 1;
}
img{
    height: 100%;
    position: absolute;
    z-index: -1;
    bottom: 0;
    filter: blur(0.4px);
}

#login{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-top: 80px;
    margin-bottom: 75px;
    text-shadow: 0px 0px 15px #000000;
}
#signup{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 50px;
    text-shadow: 0px 0px 15px #000000;
}

.form-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    height: 45px;
    width: 75%;
    outline: none;
    outline-style: none;
    border: none;
    font-size: 14px;
}

.input-username {
    border-bottom: 1px solid rgb(0, 0, 0, 0.2) !important;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 0 15px;
}

.input-pw {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0 15px;
}

.submit-btn {
    width: 75%;
    height: 45px;
    border-radius: 15px;
    outline: none;
    outline-style: none;
    border: none;
    background-color: #fff;
    color: #003468;
    font-weight: 700;
}

.submit-btn:hover{
    background-color: #003468;
    color: #fff;
    font-weight: 700;
}
.signup {
    position: absolute;
    bottom: -140px;
    width: 670px;
    height: 200px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #fff;
    
}

.signup-btn {
    height: 40px;
    outline: none;
    outline-style: none;
    border: none;
    left: 270px;
    right: 270px;
    background-color: #fff;
    position: absolute;
    font-size: 20px;
    margin-top: 10px !important;
}

.log{
    font-weight: 700;
    color: #ad2a36;
    text-decoration: underline ;
}


@media screen and (max-width: 767.98px) {
    .form-structor {
        height: 430px;
        width: 350px;
    }
    #login{
        font-size: 40px;
        margin-top: 75px;
        margin-bottom: 50px;
    }
    .input {
        height: 40px;
        font-size: 13px;
    }
    .submit-btn {
        height: 40px;
    }
    .signup {
        bottom: -155px;
    }
    .signup-btn {
        height: 35px;
        bottom: 160px;
    }
}
@media screen and (max-width: 376px) {
    .form-structor {
        height: 350px;
        width: 270px;
    }
    .login{
        width: 95%;
    }
    #login{
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .input {
        height: 40px;
        font-size: 12px;
    }
    .submit-btn {
        height: 40px;
    }
    .login {
        bottom: -155px;
    }
    .signup-btn {
        height: 35px;
        bottom: 160px;
        font-size: 17px;
    }
    .log{
        font-size: 17px;
    }
}

